<p-table #dt1 [value]="campaigns" (onFilter)="onFilter()" (onSort)="onSort()" (onPage)="onPage($event)"
    [columns]="selectedColumns" [(selection)]="selectedCampaigns" dataKey="id" [rows]="10" dataKey="id"
    [rowHover]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[3, 5, 10,25,50]" [lazy]="true"
    (onLazyLoad)="loadCampaigns($event)" [loading]="loading" styleClass="p-datatable-campaigns p-datatable-gridlines"
    [paginator]="true" [globalFilterFields]="['name','status','start_time','end_time']">
    <ng-template pTemplate="caption">
        <div class="p-d-flex">
            <div class="dashboardHeader">
                <h1 style="font-weight: lighter;">Dashboard</h1>
                <div class="rightPanel">
                    <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                        (click)="clear(dt1)"></button>
                    <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                        selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px', minHeight:'40px'}"
                        placeholder="Manage Columns"></p-multiSelect>

                    <span class="p-input-icon-left p-ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (change)="onSearchChange($event.target.value)"
                            (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                    </span>
                </div>

            </div>
            <div class="recordDetails">
                Showing {{first}} to {{last}} of {{totalRecords}} campaigns
            </div>

        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox (click)="onCheckboxChange()"></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name" *ngIf="columnVisible('name')" [width]="350">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Campaign Name <p-sortIcon field="name"></p-sortIcon>
                    <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="start_time" *ngIf="columnVisible('start_time')" [width]="180">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Start Date <p-sortIcon field="start_time"></p-sortIcon>
                    <p-columnFilter type="date" field="start_time" display="menu"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="stop_time" *ngIf="columnVisible('stop_time')" [width]="180">
                <div class="p-d-flex p-jc-between p-ai-center">
                    End Date <p-sortIcon field="stop_time"></p-sortIcon>
                    <p-columnFilter type="date" field="stop_time" display="menu"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="campaign_lead" *ngIf="columnVisible('campaign_lead')" [width]="250">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Campaign Lead <p-sortIcon field="campaign_lead"></p-sortIcon>
                    <p-columnFilter type="date" field="campaign_lead" display="menu"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="last_changed_by" *ngIf="columnVisible('last_changed_by')" [width]="250">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Last Changed By <p-sortIcon field="last_changed_by"></p-sortIcon>
                    <p-columnFilter type="text" field="last_changed_by" display="menu">
                    </p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="status" *ngIf="columnVisible('status')" [width]="200">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Campaign Status <p-sortIcon field="status"></p-sortIcon>
                    <p-columnFilter field="status" matchMode="equals" display="menu">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)"
                                placeholder="Any">
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'campaign-badge status-' + option.value">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="budget_type" *ngIf="columnVisible('budget_type')" [width]="200">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Ad Set Budget Type <p-sortIcon field="budget_type"></p-sortIcon>
                    <p-columnFilter field="budget_type" matchMode="equals" display="menu">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="budgetTypes" (onChange)="filter($event.value)"
                                placeholder="Any">
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'campaign-badge status-' + option.value">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-campaign>
        <tr>
            <td>
                <p-tableCheckbox [value]="campaign" (click)="onCheckboxChange()"></p-tableCheckbox>
            </td>
            <td *ngIf="columnVisible('name')">
                {{campaign.name}}
            </td>
            <td *ngIf="columnVisible('start_time')">
                {{campaign.start_time | date:"MM/dd/yyyy"}}
            </td>
            <td *ngIf="columnVisible('stop_time')">
                {{campaign.stop_time | date:"MM/dd/yyyy"}}
            </td>
            <td *ngIf="columnVisible('campaign_lead')">
                {{"campaign lead"}}
            </td>
            <td *ngIf="columnVisible('last_changed_by')">
                {{"last changed by"}}
            </td>
            <td *ngIf="columnVisible('status')">
                <span [class]="'campaign-badge status-' + campaign.status">{{campaign.status}}</span>
            </td>
            <td *ngIf="columnVisible('budget_type')">
                <span [class]="'campaign-badge status-' + campaign.budget_type">{{campaign.budget_type}}</span>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">No campaigns found.</td>
        </tr>
    </ng-template>
</p-table>