:host ::ng-deep {
  .p-paginator {
    .p-paginator-current {
      margin-left: auto;
    }
  }

  .p-progressbar {
    height: 0.5rem;
    background-color: #d8dadc;

    .p-progressbar-value {
      background-color: #607d8b;
    }
  }

  .table-header {
    display: flex;
    justify-content: space-between;
  }

  .p-calendar .p-datepicker {
    min-width: 25rem;

    td {
      font-weight: 400;
    }
  }

  .p-datatable.p-datatable-campaigns {
    .p-datatable-header {
      padding: 1rem;
      text-align: left;
      font-size: 1rem;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
    }

    .p-paginator {
      padding: 1rem;
    }

    .p-datatable-thead > tr > th {
      text-align: left;
    }

    .p-datatable-tbody > tr > td {
      cursor: auto;
    }

    .p-dropdown-label:not(.p-placeholder) {
      text-transform: uppercase;
    }
  }

  /* Responsive */
  .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  :host ::ng-deep {
    .p-datatable {
      &.p-datatable-customers {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr {
          border-bottom: 1px solid var(--layer-2);

          > td {
            text-align: left;
            display: block;
            border: 0 none !important;
            width: 100% !important;
            float: left;
            clear: left;
            border: 0 none;

            .p-column-title {
              padding: 0.4rem;
              min-width: 30%;
              display: inline-block;
              margin: -0.4rem 1rem -0.4rem -0.4rem;
              font-weight: bold;
            }

            .p-progressbar {
              margin-top: 0.5rem;
            }
          }
        }
      }
    }
  }
}

::ng-deep .p-datatable-wrapper {
  overflow-x: auto;
}

.campaign-badge {
  border-radius: 2px;
  padding: 0.25em 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}
.campaign-badge.status-paused,
.campaign-badge.status-PAUSED {
  background-color: #ffcdd2;
  color: #c63737;
}
.campaign-badge.status-ACTIVE,
.campaign-badge.status-active {
  background-color: #c8e6c9;
  color: #256029;
}

.campaign-badge.status-DAILY,
.campaign-badge.status-daily {
  background-color: #b3e5fc;
  color: #23547b;
}
.campaign-badge.status-LIFETIME,
.campaign-badge.status-lifetime {
  background-color: #eccfff;
  color: #694382;
}

.p-button {
  background-color: white;
  color: var(--green-color);
}
::ng-deep .p-button .p-button-label {
  color: var(--neutral-color);
}
::ng-deep .pi.pi-search {
  color: var(--green-color) !important;
}
::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
  border-color: var(--green-color);
  background: var(--green-color);
}
::ng-deep
  .p-checkbox:not(.p-checkbox-disabled)
  .p-checkbox-box.p-highlight:hover {
  border-color: var(--green-color);
  background: var(--green-color);
}

.dashboardHeader {
  display: flex;
  align-items: center;
  padding: 0px var(--base-padding);
  gap: 15px;
}
.dashboardHeader > * {
  width: 50%;
}
.dashboardHeader > .rightPanel {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}
.dashboardHeader > button {
  height: 40px;
}
.dashboardHeader .p-inputtext {
  height: 40px;
}
.recordDetails {
  display: flex;
  height: 60px;
  background-color: white;
  align-items: center;
  padding: 0px var(--base-padding);
  margin: 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #d6d6d6;
  font-weight: lighter;
  color: var(--neutral-color-light);
}

::ng-deep .p-paginator .p-paginator-first,
::ng-deep .p-paginator .p-paginator-prev,
::ng-deep .p-paginator .p-paginator-next,
::ng-deep .p-paginator .p-paginator-last {
  border: 1px solid #d6d6d6;
  color: var(--green-color);
  margin: 0;
}
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background-color: var(--green-color);
  color: white;
  margin: 0;
}
